h2 {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9000;
}

button {
  background-color: #567b95;
  border-color: #326891;
  color: #fff;
}

a {
  color: #000;
  font-weight: 900;
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

main {
  margin: 5%;
}

iframe {
  width: 100%;
}

aside {
  position: absolute;
  height: auto;
  width: 18%;
  float: left;
  right: 5%;
}

#firstImage {
  height: 530px;
  width: auto;
}

.nytColor {
  color: #326891;
}

.centered {
  display: flex;
}

.separated {
  margin: 10px;
}

.imagePrimary {
  justify-content: center;
  display: flex;
}

.title {
  width: 600px;
  margin: auto;
}

.social {
  justify-content: center;
  display: flex;
}

.description {
  padding: 5px 30% 0 8.5%;
}

.descriptionContent {
  margin: 0;
  font-size: 12px;
}

.secondSection {
  width: 53%;
  margin: auto;
}

.main {
  height: 30px;
  width: auto;
}

.stiky {
  position: fixed;
  top: 0;
  background-color: #fff;
}

.contentElements {
  height: 30px;
  background-color: black;
  margin: 10px;
  display: inline-flex;
  width: 30%;
}

.secondImage {
  width: 100%;
}

.leftContent {
  width: 70%;
  padding: 10px;
}

.rigthContent {
  width: 30%;
  padding: 10px;
}

.secondaryContent {
  width: 100%;
  height: 170px;
}

.contentRigth {
  height: auto;
  padding: 10px;
  margin: 10px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 10px;
}

.subtitle {
  margin: 0;
  text-align: right;
  font-size: 10px;
}

.removeMargin {
  margin: 0;
}

.titlefooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.contentfooter {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.linksfooter {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  padding: 0;
}

.readMore {
  display: flex;
  justify-content: stretch;
  margin: 20px 0;
}

.readme {
  width: 50%;
}

.datesize {
  font-size: 13px;
}

.mainContentFontSize {
  font-size: 22px;
  line-height: 30px;
}

.infoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asideContent {
  display: flex;
  align-items: center;
}

.asideImage {
  padding: 5px;
}

.contentVideo {
  font-size: 15px;
}

.subscribeContent {
  display: flex;
  align-items: center;
}
